* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("../img/fondo\ 3.jpg");
    color: whitesmoke;
    
}
.subtitulo{
    text-align: center;
    text-transform: uppercase;
    text-decoration: wavy;
}

.header {
    padding: 10px;
    position: relative;
}

.header__titulo {
    text-transform: uppercase;
    text-align: center;
    color:hsl(61, 100%, 50%)

}

.header__nav {
    width: 90%;
    height: 90px;
    background-color: hsla(243, 17%, 79%, 0.14);
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.header__logo {
    /* agregar estilo para logo */
}

.header__menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 10px;
}

.header__link {
    color: hwb(33 88% 4% / 0.73);
    text-decoration: none;
    padding: 0.7rem;
}

.header__link:hover {
    background-color: black;
    color: rgb(229, 162, 18);
    border-radius: 20px;
}

.imagenes-menu {
    display: flex;            /* Utiliza flexbox */
    justify-content: space-between;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente si es necesario */
    flex-wrap: wrap;         /* Permite que las imágenes se envuelvan en varias líneas si es necesario */
    margin: 20px 0;         /* Agrega margen arriba y abajo del contenedor */
}

.imagenes {
    width: 300px;           /* Ajusta el ancho */
    height: 300px;          /* Ajusta la altura */
    object-fit: cover;      /* Mantiene la proporción de la imagen */
    border-radius: 10px;    /* Esquinas redondeadas (opcional) */
    margin: 10px;           /* Espacio entre las imágenes */
}

.parrafo {
    padding: 10px;
    color: azure;
    background-color: hsla(41, 52%, 8%, 0.201);
}

footer {
    color: whitesmoke;
    text-align: center;
}
p {
   padding: 10px;
    color: whitesmoke;
}
.imgsvs {
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;

}
.parrafosvs {
    margin-left: 10px;
    text-align: justify;
    font-size: larger;
    font-style: italic;

}
.listado{
    display: grid;
      grid-template-columns: repeat(3, 5fr); /* Crea 3 columnas de igual tamaño */
      gap: 20px; /* Espacio entre los elementos */
      list-style-type: none;
      
}
ul {
    margin-left: 20px;
    line-height: 4;
    color: #f1f1e9;
}

.form-label{
    padding: 10px;
    font-size: large;
    text-transform: uppercase;
    
}
.form-control {
margin-bottom: 10px;
color: #f1f1e9;
background-color: hsla(0, 0%, 0%, 0.016);
border: 2px solid hsl(60, 100%, 50%);
height: 30px;
width: 20%; 
font-size: 1rem;
}

.form-control1{
color: #f1f1e9;
background-color: hsla(0, 0%, 0%, 0.016);
border: 2px solid hwb(62 0% 0%);
height: 70px;
width: 100%; 
font-size: 1rem;

}
.card-img-top{
align-items: center;
object-fit: cover;
width: 300px;
height: 300px;
}
.galeria{
box-sizing: border-box;
display: flex;
flex-wrap: wrap;
justify-content:space-around;
gap: 8px;
}

.imgtension{
width: 300px;
border: 3px double #d89611b4;
opacity: 0.7;

}
.imgtension:hover{
border: solid orange;
opacity: 1;
transform: scale(1.2);
}

.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  